body {
  padding: 10%;
  background-color: bisque;
}
.omelette-recipe__container {
  background-color: white;
  border-radius: 15px;
  font-family: "outfit", serif;
  font-weight: 400;
  font-size: 15px;
  margin-right: 10px;
  padding: 40px;
}
h1 {
  font-family: "young serif", serif;
  font-weight: 400;
  font-size: 40px;
  margin-bottom: 10px;
}
h2 {
  font-family: "young serif", serif;
  font-size: 30px;
  font-weight: 400;
  color: hsl(14, 45%, 36%);
  margin-bottom: 10px;
}

.omelette-intro img {
  width: 100%;
  border-radius: 10px;
}

.omelette-intro p {
  margin-bottom: 30px;
}

.omelette-intro-prep-time {
  background-color: hsl(330, 100%, 98%);
  padding: 10px;
  border-radius: 10px;
  font-size: 16px;
  line-height: 2;
}
.omelette-intro-prep-time h3 {
  margin-left: -23px;
  font-size: 19px;
  color: hsl(332, 51%, 32%);
  font-weight: 400;
  margin-bottom: 5px;
}

.omelette-ingredients ul {
  font-size: 16;
  line-height: 2;
  margin-left: -13px;
}

hr {
  margin-top: 25px;
}

.omelette-instructions ol {
  font-size: 16;
  line-height: 2;
  margin-right: 10px;
  margin-left: -10px;
}

table {
  border-collapse: collapse;
  width: 100%;
}
td {
  border: 1px solid #dddddd;
  border-left: none;
  border-right: none;
  border-top: none;

  text-align: left;
  text-indent: 20px;

  padding: 10px;
}

.table-red {
  color: hsl(14, 45%, 36%);
}
.omelette-nutrition__tr {
  border-bottom: hidden;
}
